<div class="hero bg-base-100 min-h-screen" id="video">
  <div class="hero-content text-center w-full">
    <div class="w-full max-w-4xl">
      <h1 class="text-2xl font-bold mb-6">Cross-cultural Communication</h1>
      <div class="aspect-video w-full">
        <iframe
          src="https://www.youtube.com/embed/qCo3wSGYRbQ?si=C7qCcnCDuf_GaCkW"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          class="w-full h-full"
        ></iframe>
      </div>
    </div>
  </div>
</div>
