<div
  class="hero min-h-screen"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <a class="btn btn-neutral" href="#video">Go to video</a>
    </div>
  </div>
</div>

<div class="hero bg-base-100 min-h-screen" id="video">
  <div class="hero-content text-center w-full">
    <div class="w-full max-w-4xl">
      <h1 class="text-2xl font-bold mb-6">Cross-cultural Communication</h1>
      <div class="aspect-video w-full">
        <iframe
          src="https://www.youtube.com/embed/qCo3wSGYRbQ?si=C7qCcnCDuf_GaCkW"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          class="w-full h-full"
        ></iframe>
      </div>
    </div>
  </div>
</div>
