<div
  class="hero min-h-screen"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-4xl">
      <h1 class="mb-5 text-5xl font-bold">Hello and welcome!</h1>

      <div class="flex flex-col gap-6 font-bold">
        <p>
          I’m so excited to have you here. This portfolio is a reflection of the
          work I’ve done during an incredibly enriching semester at Universidad
          del Valle de Guatemala, where I had the opportunity to dive into the
          fascinating world of cross-cultural communication.
        </p>

        <p>
          As you navigate through this site, you’ll find a collection of
          projects, reflections, and lessons that showcase how cultures shape
          the way we connect and understand one another. This semester has
          opened my eyes to the importance of bridging cultural differences and
          celebrating the diversity that makes our world so vibrant.
        </p>

        <p>
          Whether it’s through exploring key topics, engaging with
          thought-provoking content, or simply enjoying the creativity behind
          each project, I hope this portfolio leaves you feeling inspired and
          curious about the power of communication across cultures.
        </p>

        <p>
          Thank you for taking the time to visit. Enjoy your journey through my
          work at Universidad del Valle de Guatemala!
        </p>
      </div>

      <!-- <a class="btn btn-neutral" href="#video">Go to video</a> -->
    </div>
  </div>
</div>
<div class="max-w-5xl mx-auto">
  <img
    src="images/homeimage2.webp"
    alt="cross-cultural"
    class="aspect-video w-full"
  />
</div>
